<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="USER" connectionString="Data Source=127.0.0.1,1433; Initial Catalog=Rappelz_User; User ID=RappelzAdmin; Password=4851044" />
  </connectionStrings>
  <appSettings>
    <add key="SITE_NAME" value="Rappelz The Rift Admin (RealSTG)" />
    <add key="SITE_URL" value="127.0.0.1:44300" />
    <add key="HashKey" value="fkvpfwmflvmxmdprtptmgotlzl!@#" />
    <add key="USER" value="devadmin|1234|9" />
    <add key="Languages" value="zh" />
    <add key="INTERNAL_IP" value="210.216.246.222|210.216.246.223|210.216.246.229" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>